{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}

{% for post in posts %}
{% if forloop.first %}
  <main>
    <!-- Container START -->
    <div class="container">
      <div class="row g-4">

        <!-- Main content START -->
        <div class="col-lg-8 vstack gap-4">
          <!-- My profile START -->

          <div class="card">
            <!-- Cover image -->
            <div class="h-200px rounded-top" style="background-image:url(assets/images/bg/05.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
              <!-- Card body START -->
              <div class="card-body py-0">
                <div class="d-sm-flex align-items-start text-center text-sm-start">
                  <div>
                    <!-- Avatar -->
                    <div class="avatar avatar-xxl mt-n5 mb-3">

                      <img class="avatar-img rounded-circle border border-whituserprofilee border-3" src="{{post.author.userprofile.image.url}}" alt="">
                    </div>
                  </div>
                  <div class="ms-sm-4 mt-sm-3">
                    <!-- Info -->
                    <h1 class="mb-0 h5">{{post.author.get_full_name}}<i class="bi bi-patch-check-fill text-success small"></i></h1>
                    <p>250 connections</p>
                  </div>
                  <!-- Button -->
                  <div class="d-flex mt-3 justify-content-center ms-sm-auto">
                    {% if post.author == request.user %}
                    <button class="btn btn-danger-soft me-2" type="button"> <i class="bi bi-pencil-fill pe-1"></i> Edit profile </button>
                    {% endif %}
                  </div>
                </div>
                <!-- List profile -->
                <ul class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0">

                  <li class="list-inline-item"><i class="bi bi-calendar2-plus me-1"></i> Joined On {{request.user.date_joined|date:"F d, Y"}}</li>
                </ul>
              </div>
              <!-- Card body END -->
              <div class="card-footer mt-3 pt-2 pb-0">
                <!-- Nav profile pages -->
                <ul class="nav nav-bottom-line align-items-center justify-content-center justify-content-md-start mb-0 border-0">
                  <li class="nav-item"> <a class="nav-link " href="{% url "userpost" post.author.username %}"> Posts </a> </li>
                  <li class="nav-item"> <a class="nav-link active" href="{% url "about" post.author.username %}"> About </a> </li>

                </ul>
              </div>
            </div>
            <div class="col-lg-4">

              <div class="row g-4">

                <!-- Card START -->
                <div class="col-md-6 col-lg-12">
                  <div class="card">
                    <div class="card-header border-0 pb-0">
                      <h5 class="card-title">About</h5>
                      <!-- Button modal -->
                    </div>
                    <!-- Card body START -->
                    <div class="card-body position-relative pt-0">
                      <p>{{post.author.userprofile.intro}}</p>
                      <!-- Date time -->
                      <ul class="list-unstyled mt-3 mb-0">

                        <li> <i class="bi bi-envelope fa-fw pe-1"></i> Email: <strong> {{post.author.email}} </strong> </li>
                      </ul>
                    </div>
                    <!-- Card body END -->
                  </div>
                </div>
                <!-- Card END -->
              </div>

            </div>
          </main>


            <!-- My pro
              file END -->
            {% endif %}
              {% endfor %}


            <!-- Share feed START -->





{% endblock body %}
