{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}

<main>

    <!-- Container START -->
    <div class="container">
        <div class="row g-4">

            <!-- Sidenav START -->
            <div class="col-lg-3">

                <!-- Advanced filter responsive toggler START -->
                <div class="d-flex align-items-center d-lg-none">
                    <!--<button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas"-->
                    <!--    data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">-->

                        <button class="navbar-toggler ms-auto icon-md btn btn-light p-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>
                        <!--<span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>-->
                        <span class="h6 mb-0 fw-bold d-lg-none ms-2">My profile</span>
                    </button>
                </div>
                <!-- Advanced filter responsive toggler END -->

                <!-- Navbar START-->
                <nav class="navbar navbar-expand-lg mx-0">
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSideNavbar">
                        <!-- Offcanvas header -->
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>

                        <!-- Offcanvas body -->
                        <div class="offcanvas-body d-block px-2 px-lg-0">
                            <!-- Card START -->
                            <div class="card overflow-hidden">
                                <!-- Cover image -->
                                <div class="h-50px" style="background-image:url({{request.user.userprofile.background_cover.url}}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
                                <!-- Card body START -->
                                <div class="card-body pt-0">
                                    <div class="text-center">
                                        <!-- Avatar -->
                                        <div class="avatar avatar-lg mt-n5 mb-3">
                                            <a href="#!"><img src="{{ request.user.userprofile.image.url }}" alt="" style="max-height: 64px;"></a>
                                        </div>

                                        <!-- Info -->
                                        <h5 class="mb-0"> <a href="{% url 'userpost' request.user.username %}">{{request.user.get_full_name}} </a> </h5>
                                       <p class="mt-3">{{request.user.userprofile.intro}}.</p>

                                        <!-- User stat START -->
                                        <div class="hstack gap-2 gap-xl-3 justify-content-center">
                                            <!-- User stat item -->
                                            <div>
                               <h6 class="mb-0">{{ request.user.post_set.all|length }}</h6>
<small>{% if request.user.post_set.all|length == 1 %}Post{% else %}Posts{% endif %}</small>

                                            </div>
                                            <!-- Divider -->
                                            <div class="vr"></div>
                                            <!-- User stat item -->
                                            <div>
                                                <h6 class="mb-0">0</h6>
                                                <small>Followers</small>
                                            </div>
                                            <!-- Divider -->
                                            <div class="vr"></div>
                                            <!-- User stat item -->
                                            <div>
                                                <h6 class="mb-0">0</h6>
                                                <small>Following</small>
                                            </div>
                                        </div>
                                        <!-- User stat END -->
                                    </div>

                                    <!-- Divider -->
                                    <hr>

                                    <!-- Side Nav START -->
                                    <ul class="nav nav-link-secondary flex-column fw-bold gap-2">


                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "createpost" %}"> <span>Create Post </span></a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url "setting" %}"> <span>Settings </span></a>
                                        </li>
                                    </ul>
                                    <!-- Side Nav END -->
                                </div>
                                <!-- Card body END -->
                                <!-- Card footer -->
                                <div class="card-footer text-center py-2">
                                    <a class="btn btn-link btn-sm" href="{% url "userpost" request.user.username %}">View Profile </a>
                                </div>
                            </div>
                            <!-- Card END -->

                            <!-- Helper link START -->
                            <ul class="nav small mt-4 justify-content-center lh-1">
                                <li class="nav-item">
                                    <a class="nav-link" href="my-profile-about.html">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="settings.html">Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" target="_blank" href="#">Support </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" target="_blank" href="docs/index.html">Docs </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="help.html">Help</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="privacy-and-terms.html">Privacy & terms</a>
                                </li>
                            </ul>
                            <!-- Helper link END -->
                            <!-- Copyright -->
                            <p class="small text-center mt-1">©2023 <a class="text-reset" target="_blank" href="https://www.gaurablohani.info.np/"> Gaurab Lohani </a></p>
                        </div>
                    </div>
                </nav>
                <!-- Navbar END-->
            </div>
            <!-- Sidenav END -->

            <!-- Main content START -->

            <div class="col-md-8 col-lg-6 vstack gap-4">
                <!--<div class="card">-->
                <!--  {% for post in posts %}-->
                <!--<div class="card">-->
                <!--    <div class="card-header border-0 pb-0">-->
                <!--        <div class="d-flex align-items-center justify-content-between">-->
                <!--            <div class="d-flex align-items-center">-->
                                <!-- Avatar -->
                <!--                <div class="avatar avatar-story me-2">-->
                <!--    <a href="#"> <img class="avatar-img rounded-circle" src="{{ post.author.userprofile.image.url }}" alt=""> </a>-->
                <!--  </div>-->

                                <!-- Info -->
                <!--                <div>-->
                <!--                    <div class="nav nav-divider">-->
                <!--                        <h6 class="nav-item card-title mb-0"> <a href="{% url 'userpost' post.author.username %}"> {{post.author.get_full_name}} </a></h6>-->

                <!--                    </div>-->
                <!--                    <p class="mb-0 small">{{post.time}}</p>-->
                <!--                </div>-->
                <!--            </div>-->
                            <!-- Card feed action dropdown START -->
                <!--            <div class="dropdown">-->
                <!--                <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2"-->
                <!--                    id="cardFeedAction" data-bs-toggle="dropdown" aria-expanded="false">-->
                <!--                    <i class="bi bi-three-dots"></i>-->
                <!--                </a>-->
                                <!-- Card feed action dropdown menu -->

                <!--                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction">-->
                <!--                    {% if post.author == request.user %}-->
                <!--                    {% if post.is_deletable %}-->

                <!--                    <li><a class="dropdown-item" href="{% url "updatepost" post.id %}"> <i-->
                <!--                          class="bi bi-bookmark fa-fw pe-2"></i>Update-->
                <!--                        post</a></li>-->

                <!--                    <li><a class="dropdown-item" href="{% url "deletepost" post.id %}"> <i-->
                <!--                          class="bi bi-bookmark fa-fw pe-2"></i>Delete-->
                <!--                        post</a></li>-->
                <!--                        {% else %}-->
                <!--                        <li><a class="dropdown-item" href="#"> <i-->
                <!--                          class="bi bi-bookmark fa-fw pe-2"></i>Cannot delete this post</a></li>-->
                <!--                    {% endif %}-->
                <!--                  </ul>-->
                <!--                  {% else %}-->
                <!--                        <li><a class="dropdown-item" href="#"> <i-->
                <!--                          class="bi bi-bookmark fa-fw pe-2"></i>Not Authorized</a></li>-->
                <!--                  {% endif %}-->

                <!--                </ul>-->

                <!--            </div>-->
                            <!-- Card feed action dropdown END -->
                <!--        </div>-->
                <!--    </div>-->

                <!--    <div class="card-body">-->

                <!--        {% if post.image.url %}-->
                <!--        <p>{{ post.content }}</p>-->
                <!--        <a href="{% url "detailpost" post.author.username post.id %}">-->
                <!--            <img class="card-img" src="{{ post.image.url }}" alt=''>-->
                <!--        </a>-->
                <!--    {% else %}-->
                <!--        <p>{{ post.content }}</p>-->
                <!--    {% endif %}-->

                        <!-- Feed react START -->
                <!--        <ul class="nav nav-stack py-3 small">-->
                <!--            <li class="nav-item">-->
                <!--                <a class="nav-link active" href="#!" data-bs-container="body" data-bs-toggle="tooltip"-->
                <!--                    data-bs-placement="top" data-bs-html="true"-->
                <!--                    data-bs-custom-class="tooltip-text-start">-->
                <!--                    <i class="bi bi-hand-thumbs-up-fill pe-1"></i>Like </a>-->
                <!--            </li>-->
                <!--            <li class="nav-item">-->
                <!--                <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>Comments </a>-->
                <!--            </li>-->
                            <!-- Card share action START -->
                <!--            <li class="nav-item dropdown ms-sm-auto">-->
                <!--                <a class="nav-link mb-0" href="#" id="cardShareAction" data-bs-toggle="dropdown"-->
                <!--                    aria-expanded="false">-->
                <!--                    <i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share-->
                <!--                </a>-->
                                <!-- Card share action dropdown menu -->
                <!--                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction">-->
                <!--                    <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send-->
                <!--                            via Direct Message</a></li>-->
                <!--                    <li><a class="dropdown-item" href="#"> <i-->
                <!--                                class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>-->
                <!--                    <li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy-->
                <!--                            link to post</a></li>-->
                <!--                    <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share-->
                <!--                            post via …</a></li>-->
                <!--                    <li>-->
                <!--                        <hr class="dropdown-divider">-->
                <!--                    </li>-->
                <!--                    <li><a class="dropdown-item" href="#"> <i-->
                <!--                                class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>-->
                <!--                </ul>-->
                <!--            </li>-->
                            <!-- Card share action END -->
                <!--        </ul>-->
                        <!-- Feed react END -->



                <!--        </div>-->

                <!--    </div>-->

                <!--    {% endfor %}-->
                    <!-- Card body END -->

                <!--</div>-->

{% for post in posts %}
    <div class="card mb-4">
        <div class="card-header border-0 pb-0">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <!-- Avatar -->
                    <div class="avatar avatar-story me-2">
                        <a href="#">
                            <img class="avatar-img rounded-circle" src="{{ post.author.userprofile.image.url }}" alt="">
                        </a>
                    </div>

                    <!-- Info -->
                    <div>
                        <div class="nav nav-divider">
                            <h6 class="nav-item card-title mb-0">
                                <a href="{% url 'userpost' post.author.username %}">{{ post.author.get_full_name }}</a>
                            </h6>
                        </div>
<p class="mb-0 small text-muted">{{ post.time|date:"F j, Y" }}</p>

                    </div>
                </div>
                <!-- Card feed action dropdown START -->
                <div class="dropdown">
                    <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardFeedAction"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </a>
                    <!-- Card feed action dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction">
                        {% if post.author == request.user %}
                            {% if post.is_deletable %}
                                <li><a class="dropdown-item" href="{% url "updatepost" post.id %}"><i
                                            class="bi bi-pencil-square"></i> Edit Post</a></li>
                                <li><a class="dropdown-item" href="{% url "deletepost" post.id %}"><i
                                            class="bi bi-trash"></i> Delete Post</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="#" disabled><i class="bi bi-exclamation-circle"></i> Cannot delete this post</a></li>
                            {% endif %}
                        {% else %}
                            <li><a class="dropdown-item" href="#" disabled><i class="bi bi-exclamation-circle"></i> Not Authorized</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Card feed action dropdown END -->
            </div>
        </div>

        <div class="card-body">
            {% if post.image.url %}
                <p class="card-text mb-3">{{ post.content }}</p>
                <a href="{% url "detailpost" post.author.username post.id %}">
                    <img class="card-img custom-img-height" src="{{ post.image.url }}" alt=''>
                </a>
            {% else %}
                <p class="card-text">{{ post.content }}</p>
            {% endif %}

            <!-- Feed react START -->
            <div class="d-flex justify-content-between align-items-center mt-3">
                <div class="d-flex">
            <form id="like-form" method="GET" action="{% url 'like_post' post.author.username post.id %}">
    {% csrf_token %}
    <button type="submit" class="text-primary me-3" style="border: none; background-color: transparent;">
        <i class="bi bi-hand-thumbs-up"></i> Like ({{ post.like_set.count }})
    </button>
</form>

                </div>
                <div>
                    <a href="#" class="text-secondary">
                        <i class="bi bi-share"></i> Share
                    </a>
                </div>
            </div>
            <!-- Feed react END -->
        </div>
    </div>
{% endfor %}




<style>
    .custom-img-height {
        max-height: 100vh;
        width: auto;
        display: block;
        margin: auto;
    }
</style>


            </div> <!-- Row END -->

        </div>

    </div>

</main>

    <!-- Container END -->

</main>

{% endblock body %}
