{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<main>
    <!-- Container START -->
    <div class="container">
      <div class="row">
  
        <!-- Sidenav START -->
        <div class="col-lg-3">
  
          <!-- Advanced filter responsive toggler START -->
                  <!-- Divider -->
                  <div class="d-flex align-items-center mb-4 d-lg-none">
                      <button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                          <span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
              <span class="h6 mb-0 fw-bold d-lg-none ms-2">Settings</span>
                      </button>
                  </div>
                  <!-- Advanced filter responsive toggler END -->
  
          <nav class="navbar navbar-light navbar-expand-lg mx-0">
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
              <!-- Offcanvas header -->
                          <div class="offcanvas-header">
                              <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                          </div>
  
              <!-- Offcanvas body -->
              <div class="offcanvas-body p-0">
                <!-- Card START -->
                <div class="card w-100">
                  <!-- Card body START -->
                  <div class="card-body">
  
                  <!-- Side Nav START -->
                  <ul class="nav nav-tabs nav-pills nav-pills-soft flex-column fw-bold gap-2 border-0" role="tablist">
                    <li class="nav-item" data-bs-dismiss="offcanvas" role="presentation">
                      <a class="nav-link d-flex mb-0 active" href="{% url "setting" %}" data-bs-toggle="tab" aria-selected="true" role="tab"> <span>Update post </span></a>
                    </li>
                 
                   
                    </li>
                  </ul>
                  <!-- Side Nav END -->
  
                </div>
            
                </div>
              <!-- Card END -->
              </div>
              <!-- Offcanvas body -->
  
              <!-- Helper link START -->
              <ul class="nav small mt-4 justify-content-center lh-1">
                <li class="nav-item">
                  <a class="nav-link" href="my-profile-about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="settings.html">Settings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target="_blank" href="https://support.webestica.com/login">Support </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target="_blank" href="docs/index.html">Docs </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="help.html">Help</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="privacy-and-terms.html">Privacy &amp; terms</a>
                </li>
              </ul>
              <!-- Helper link END -->
              <!-- Copyright -->
              <p class="small text-center mt-1">©2023 <a class="text-reset" target="_blank" href="#"> Gaurab Lohani </a></p>
            
            </div>
          </nav>
        </div>
        <!-- Sidenav END -->
  
          <!-- Main content START -->
          <div class="col-lg-6 vstack gap-4">
            <!-- Setting Tab content START -->
            <div class="tab-content py-0 mb-0">
  
              <!-- Account setting tab START -->
              <div class="tab-pane show active fade" id="nav-setting-tab-1" role="tabpanel">
                <!-- Account settings START -->
                <div class="card mb-4">
                  
                  <!-- Title START -->
                  <div class="card-header border-0 pb-0">
                    <h1 class="h5 card-title">Update a Post</h1>
                  </div>
                  <!-- Card header START -->
                  <!-- Card body START -->
                  <div class="card-body">
                    <!-- Form settings START -->
                    <form  class="row g-3" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                        <!-- First name -->
                      <div class="col-sm-6 col-lg-4">
                        {{ form.content|as_crispy_field }}
                      </div>
             
                      <div class="col-12">
                        {{ form.image|as_crispy_field }}

                      </div>
                  
                      <!-- Button  -->
                      <div class="col-12 text-end">
                        <button type="submit" class="btn btn-sm btn-primary mb-0">Save changes</button>
                      </div>
                    </form>
                    <!-- Settings END -->
                  </div>
                <!-- Card body END -->
                </div>
                <!-- Account settings END -->
  
  
            </div>
            <!-- Setting Tab content END -->
          </div>
  
      </div> <!-- Row END -->
    </div>
    <!-- Container END -->
  
  </main>
{% endblock body %}


